:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}
a {
  text-decoration: none;
}
.showcase {
  width: 100%;
  height: 93vh;
  background-image: url("./imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: center;
  box-shadow: inset 100px 100px 100px var(--dark-color),
    inset -100px -100px 100px var(--dark-color);
  display: relative;
}
.showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93vh;
  background-color: rgba(9, 9, 9, 0.4);
  z-index: 100;
}
.showcase-top {
  position: relative;
  z-index: 200;
  height: 90px;
}
.showcase-top img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 170px;
  transform: translate(-50%, -50%);
}
.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.showcase-bot {
  height: 70vh;
  /* background-color: pink; */
  position: relative;
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 5px;
}
.showcase-bot h1 {
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 0;
  text-transform: capitalize;
}
.showcase-bot p,
.showcase-bot a {
  text-transform: uppercase;
}
.showcase-bot p {
  color: lightgrey;
}

.tabs {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: grey;
}

.tab:hover {
  color: #fff;
  cursor: pointer;
}

.tab-content {
  border-top: 2px solid grey;
}

.tab-items-container {
  width: 80vw;
  margin: 30px auto;
}
/* TAB 1 */
.tab-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  justify-items: center;
}
.tab-1 img {
  max-width: 300px;
}
.tab-1 p {
  font-size: 24px;
}

/* TAB 2 */
.tab-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}
.tab-2 img {
  width: 100%;
}
.tab-2 > p {
  grid-column: 1/3;
  font-size: 24px;
  text-align: left;
}
.tab-2 > a {
  grid-column: 3/-1;
  min-width: 100px;
}
.container-1 p:last-child,
.container-2 p:last-child,
.container-3 p:last-child {
  color: grey;
}

/* TAB 3 */
.tab-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-3 p {
  font-size: 1.3rem;
  margin-bottom: 2.4rem;
}
.tab-3 a {
  margin-bottom: 2.4rem;
}
table {
  width: 100%;
  font-size: 1.1rem;
  color: grey;
  border-collapse: collapse;
  border-spacing: 0;
}
table tbody {
  display: table-row-group;
  vertical-align: middle;
}
thead {
  text-transform: uppercase;
}

table tr:nth-child(even) {
  background-color: #242124;
}

td {
  padding: 10px;
}
th,
tr,
td {
  text-align: center;
}
tr td:first-child {
  text-align: left;
}
/* FOOTER */
footer {
  margin: 40px auto;
  width: 80vw;
  color: grey;
}
footer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-content: center;
}

footer li {
  list-style-type: none;
  margin-bottom: 10px;
}
ul {
  padding-left: 0;
}

/* utlities classes */
.btn-sm {
  background-color: var(--primary-color);
  color: #fff;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-md {
  background-color: var(--primary-color);
  color: #fff;
  width: 90%;
  min-height: 30px;
  border: none;
  border-radius: 3px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  width: 350px;
  min-height: 40px;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
}
.btn-sm:hover,
.btn-md:hover,
.btn-lg:hover {
  opacity: 0.9;
  cursor: pointer;
}
.btn-sm:active,
.btn-md:active,
.btn-lg:active {
  opacity: 1;
}
.tab-border {
  border-bottom: 2px solid red;
}
.tab-1,
.tab-2,
.tab-3 {
  display: none;
}
.show {
  display: grid;
}
